.container {
  width: 300px;
  background-color: aqua;
  margin: 15px, auto;
  padding: 15px;
  text-align: center;
  border-radius: 15px;
}

.button {
  border: solid 1px gray;
  border-radius: 5px;
  margin-right: 10px;
  padding: 5px;
}
